*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  width:100%;
/*   background-color:darkblue;
 */}

.adote{
  width: 100%;
  background-image: url("img/background/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.adoteTitle{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:#f1e253;
  padding: 1% 0;
}
h1{
  font-size: 3vw;
}
nav{
  width: 30%;
}
ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
li{
  width:100%;
  list-style: none;
  text-decoration: underline;
  font-size: 1.5vw;
}

li:hover{
  transform: scale(1.1);
}

.btn-container{
  width: 50%;
  margin-left:25%;
  display: flex;
  justify-content: space-around;
}

.btn-pets{
  width: 100%;
  padding:1%;

  border: solid 0.2vw;
  border-radius: 0.5vw;
  background-color: rgb(243, 226, 69);
  
}
.adote-container{
  width: 35%;
  padding: 5% 0;
  position: relative;
  left:60%;
  background-color: whitesmoke;
}
.text-adote{
  width: 100%;
}